<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Visits</th>
      <th>Pet History</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.history_count%></td>
        <td><%= link_to 'History', pet_pet_histories_path(pet.id) %></td>
        <td><%= link_to 'Show', client_pet_path(@client, pet) %></td>
        <td><%= link_to 'Edit', edit_client_pet_path(@client, pet) %></td>
        <td><%= link_to 'Destroy', client_client_pets_destroy_path(@client, pet), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', client_url(@client.id) %>


