<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>

<br>
<br>

<h4 class="text-center">Statistics</h4>

<br>
<table class="table text-center">
  <thead>
    <tr>
      <th>Weight %</th>
      <th>Heigth %</th>
      <th>Max Weight</th>
      <th>Max Heigth</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_heigth %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_heigth%></td>     
    </tr>
  </tbody>
</table>

<br>
<br>

<h4 class="text-center">History</h4>
<br>

<table class="table text-center">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Heigth</th>
    </tr>
  </thead>
  
  <tbody>
    <thead>
      <tr>
        <td>
          <ul style="list-style-type:none"><% @pet.pet_histories.each do |pet_history| %>
            <li><%= pet_history.weight %></li>          
            <% end %>
          </ul> 
        </td>
        <td>
          <ul style="list-style-type:none"><% @pet.pet_histories.each do |pet_history| %>
            <li><%= pet_history.heigth %></li>          
            <% end %>
          </ul> 
        </td> 
      </tr>
    </thead>
  </tbody>
</table>

<%= link_to 'Edit', edit_client_pet_path(@pet.client_id, @pet.id) %> |
<%= link_to 'Back', client_pets_path(@pet.client_id) %>
